* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue;
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
  position: fixed;
  z-index: 100;

}

.navbar a {
  float: left;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 13.3%; /* Four links of equal widths */
  text-align: center;
  color: black;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;

}

.navbar a.active {
  background-color: black;
}

.home {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;

}

h2, p, code, pre {
  /* margin-left: 10%;
  margin-right: 10%; */
}

pre {
  overflow-x: scroll;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 5%;
  padding: 10px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 1240px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 610px) {
  .row {
    flex-direction: column;
  }
}

/* Style the counter cards */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  text-align: center;
  /* background-color: #fff9db; */
  background-color: #f1f1f1;
}

.fa {
  /* font-size: 40px; */
  /* width: 30px; */
  text-decoration: none;
  /* border-radius: 50%; */
  /* margin-left: 22%; */
}

.fa-github, .fa-linkedin {
  color: rgb(5, 5, 5);
}
