html {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

body {
   margin: 0px;
   padding:0px;
   background-color: rgb(245, 245 245);
   overflow-x:hidden;
   /* background-color: grey; */

}




.navbar {
  /* background-color: pink; */
  font-size: 30px;
  margin-left: 22%;
  margin-top: 1%;
  font-family: Helvetica Neue;
  color: rgb(40, 40, 40);
  /* display: inline; */
  min-width: 800px;
  position: absolute;

}

.nav-home {

}

.nav-about {
margin-left: 40px;

}

.nav-portfolio {
margin-left: 40px;

}

.nav-contact {
margin-left: 40px;

}

a {
  text-decoration: none;
  color: rgb(40, 40, 40);


}


.about {
background-color: rgb(236, 226, 224);
margin-top: -52px;
z-index: 1;
}

.timeline {
min-width: 1400px;

}

@media screen and (max-width: 1100px) {
  div.timeline {
    display: none;
  }
}

/* @media screen and (max-width: 1320px) {
  div.timeline {
    display: none;
  }
} */


.portfolio {
/* background-color: pink; */
margin-top: -48px;
}

.contact {
background-color: rgb(236, 226, 224);
margin-top: -48px;
}

.fa {
  /* padding: 10px; */
  font-size: 40px;
  width: 30px;
  /* text-align: center; */
  text-decoration: none;
  /* margin: 5px 2px; */
  border-radius: 50%;
  margin-left: 22%;
  /* background-color: grey; */
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  color: rgb(5, 5, 5);
}

.fa-linkedin {
  color: rgb(5, 5, 5);
}

h1 {
margin-left: 22%;
font-size: 72px;
padding-top: 5%;
font-family: Helvetica Neue;
color: rgb(40, 40, 40);
/* position: absolute; */


}

.jack-kemp {
position: absolute;

}

p {
margin-left: 22%;
margin-right: 10%;
font-family: Helvetica Neue;
color: rgb(40, 40, 40);


}

ul {
margin-left: 10%;
font-family: Helvetica Neue;
color: rgb(40, 40, 40);


}


.welcome {
position: absolute;
margin-top: 260px;
/* margin-bottom: 260px; */

}

#job ul{
  list-style: none;
}
#job li{
  display: inline;
}

#dots ul{
  list-style: none;
}
#dots li{
  display: inline;
}

#company ul{
  list-style: none;
}
#company li{
  display: inline;
}

#particles-js {
  /* background-color: rgb(245, 245 245); */
  /* background-color: grey; */
/* display: flex; */
/* justify-content: center;
align-items: center; */
min-height: 400px;
height: auto;
}
